@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.create-body {
  .body-background {
    background: linear-gradient(-45deg, #2c3e50 50%, #34495e 51%);
    min-height: 100vh;
    width: 100%;
  }
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 500px;
    border: 2px solid #304962;
    border-radius: 5px;
    background: #3049629b;

    h1 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
    }
    .last-group {
      margin-top: 25px;
      label {
        display: inline-block;
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
      }
      #file-chosen {
        margin-left: 0.3rem;
        color: #fff;
      }
    }
    .form-group {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      padding-top: 25px;

      label {
        position: absolute;
        top: 70%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
        pointer-events: none;
        transition: 0.5s;
      }

      input:not(:last-child) {
        border: 0;
        outline: 0;
        padding: 6px 10px;
        background: transparent;
        border-bottom: 2px solid white;
        font-weight: 600;
        font-size: 1.1rem;
        z-index: 1;

        &:focus ~ label,
        &:valid ~ label {
          top: 15%;
          left: 0;
        }
        &:focus ~ .backgrund,
        &:valid ~ .backgrund {
          transform: translateX(0);
        }
      }
      .backgrund {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: -1;
        transform: translateY(100%);
        transition: 0.5s;
      }
    }
    button {
      padding: 2px 8px;
      border: 0;
      outline: 0;
      background: #3498db;
      color: #fff;
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: 1px;
      cursor: pointer;
      display: block;
      float: right;
      margin-top: 20px;
      border-radius: 5px;

      &:hover {
        background: #2e86c0;
      }
    }
  }
}

#show-body {
  background-color: #2f3640;
  header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    background: #34495e;
    position: fixed;
    width: 100%;
    h1 {
      color: #fff;
      letter-spacing: 2px;
    }
    .dropdown {
      position: relative;
      padding: 0px 10px;
      &:hover .dropdown-content {
        display: flex;
        flex-direction: column;
      }
      button {
        border: 0;
        outline: 0;
        padding: 20px 8px;
        cursor: pointer;
        border: 0;
        outline: 0;
        background: transparent;
        color: #fff;
        font-size: 1rem;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2c3e50;
        width: 100%;
        left: 0;
        min-width: 160px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        a {
          text-decoration: none;
          color: #fff;
          padding: 10px;
          font-size: 18px;

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover {
            background-color: #34495e;
          }
        }
      }
    }
  }

  .image {
    background: url("../images/code.jpg");
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    a {
      color: #fff;
      text-decoration: none;
      background: transparent;
      border: 2px solid white;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 2rem;
      cursor: pointer;
      letter-spacing: 2px;
      transition: 0.2s;

      &:hover {
        background: white;
        color: black;
      }
    }
  }
  .lessons {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    background: #393c8141;
    margin-bottom: 200px;
  }
  .grid {
    display: grid;
    width: 70%;
    margin: 40px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 210px 210px 40px;
      grid-template-areas: "image" "text" "stats";
      border-radius: 18px;
      background: #292b2c;
      // box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
      font-family: roboto;
      text-align: center;
      position: relative;
      border: 2px solid transparent;
      transition: 0.2s;
      &:hover {
        border-color: red;
      }

      .card-image {
        grid-area: image;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
      .card-text {
        grid-area: text;
        max-height: 250px;
        overflow: hidden;
      }
      .card-stats {
        grid-area: stats;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        a {
          color: #0275d8;
          text-decoration: none;
          font-size: 1.2rem;
          margin-bottom: 20px;
        }
      }
      .card-text {
        grid-area: text;
        margin: 25px;
      }
      .card-text .date {
        color: rgb(255, 7, 110);
        font-size: 13px;
      }
      .card-text p {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
      }
      .card-text h2 {
        color: #fff;
        margin-top: 0px;
        font-size: 28px;
      }
    }
  }
  footer {
    background: #353b48;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .create-body form {
    width: 300px;
  }
  #show-body .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .create-body form {
    width: 300px;
  }
  #show-body .grid {
    grid-template-columns: 1fr;
  }
}
